body {
  margin: 0;
}

.bb8 {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 999;
}

.bb8 .head {
    border-radius: 75px 75px 20px 20px;
    width: 150px;
    height: 110px;
    background-color: #ece6ce;
    margin: 0 auto -5px auto;
    position: relative;
    box-shadow: 0 15px 5px -5px rgba(0, 0, 0, 0.25);
    background-image: radial-gradient(circle at 120px 60px, #b3b29e, #b3b29e 2%, transparent 3%), radial-gradient(circle at 82px 38px, #b3b29e, #b3b29e 4%, transparent 5%), radial-gradient(circle at 75px 75px, #b3b29e, #b3b29e 5%, transparent 6%), radial-gradient(circle at 115px 65px, #000, #000 8%, #ece6ce 9%, #ece6ce 11%, #000 12%, #000 12.5%, transparent 13%), radial-gradient(circle at 75px 45px, #000, #000 18%, #ece6ce 19%, #ece6ce 23%, transparent 24%), linear-gradient(0deg, #b3b29e, #b3b29e 10%, transparent 11%, transparent 14%, #2386af 15%, #2386af 21%, transparent 22%, transparent 70%, #ff7e00 71%, #ff7e00 76%, transparent 77%, transparent 86%, #2386af 87%, #2386af 93%, transparent 94%), linear-gradient(90deg, transparent, transparent 12%, #ece6ce 13%, #ece6ce 15%, transparent 16%, transparent 19%, #ece6ce 20%, #ece6ce 90%, transparent 91%), linear-gradient(0deg, transparent, transparent 27%, #ff7e00 29%, #ff7e00 38%, transparent 39%);
    transform-origin: 50% 200px;
    -webkit-animation: tilting 4s linear infinite;
    -moz-animation: tilting 4s linear infinite;
    -ms-animation: tilting 4s linear infinite;
    -o-animation: tilting 4s linear infinite;
    animation: tilting 4s linear infinite;
}

.bb8 .head::before {
    height: 30px;
    top: -26px;
    left: 75px;
    background-color: #ece6ce;
}
.bb8 .head::after,
.bb8 .head::before {
    content: "";
    display: block;
    width: 3px;
    position: absolute;
    z-index: -1;
}

.bb8 .head::after {
    height: 60px;
    top: -56px;
    left: 95px;
    background-image: linear-gradient(0deg, #000, #000 40%, #b3b29e 41%, #b3b29e 90%, #000 91%);
}

.bb8 .body {
    border-radius: 50%;
    background-color: #ece6ce;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    background-image: radial-gradient(circle at 188px 187px, #8b8879, #8b8879 2%, transparent 3%), radial-gradient(circle at 195px 60px, #8b8879, #8b8879 3%, transparent 4%), radial-gradient(circle at 155px 90px, #8b8879, #8b8879 3%, transparent 4%), radial-gradient(circle at 70px 210px, #8b8879, #8b8879 3%, transparent 4%), radial-gradient(circle at 180px 180px, transparent 21%, #ff7e00 22%, #ff7e00 27%, transparent 28%, transparent 100%), radial-gradient(circle at 45px 45px, transparent 21%, #ff7e00 22%, #ff7e00 27%, transparent 28%, transparent 100%), linear-gradient(48deg, transparent, transparent 69%, #958979 70%, transparent 71%), linear-gradient(145deg, transparent, transparent 54%, #958979 55%, transparent 56%), linear-gradient(135deg, #ece6ce, #ece6ce 25%, transparent 26%, transparent 40%, #ece6ce 41%, #ece6ce 53%, transparent 54%, transparent 64%, #ece6ce 65%, #ece6ce 78%, transparent 79%), linear-gradient(45deg, transparent, transparent 47%, #ff7e00 48%, #ff7e00 52%, transparent 53%);
    -webkit-animation: rotating 0.95s linear infinite;
    -moz-animation: rotating 0.95s linear infinite;
    -ms-animation: rotating 0.95s linear infinite;
    -o-animation: rotating 0.95s linear infinite;
    animation: rotating 0.95s linear infinite;
}

.bb8 .body::before {
    content: "";
    display: block;
    position: absolute;
    left: 156px;
    top: 163px;
    width: 35px;
    height: 20px;
    border-radius: 50% 50% 0 0;
    transform: rotate(-45deg);
    background-image: linear-gradient(0deg, #8b8879, #8b8879 10%, #ece6ce 11%, #ece6ce 21%, #8b8879 22%, #8b8879 32%, #ece6ce 33%, #ece6ce 43%, #8b8879 44%);
}

.bb8 .head {
	transform-origin: 50% 200px;
	animation: tilting 4s linear infinite;
}
@keyframes tilting
{
	0%
	{
		transform: rotate(-25deg);
	}
	25%
	{
		transform: rotate(0deg);
	}
	50%
	{
		transform: rotate(25deg);
	}
	75%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(-25deg);
	}
}

@keyframes rotating {
0% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
}