<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/style.css">

</head>

<body>
  <div class="estrellas"></div>
  <h1 style="padding-top: 50px;">Cuaderno de pilotos</h1>
  <div class="container" ng-controller="PilotController"style="padding-bottom: 60px;">
    <div class="row mt-2" style="margin-left: 75px; margin-right: 75px; padding-bottom: 10px;">
      <div class="col-sm-6">
        <form class="input-group" enctype="multipart/form-data">
          <input class="form-control" type="text" placeholder="Búsqueda..." ng-model="buscar">
        </form>
      </div>
    </div>

    <div class="table-responsive">
      <table>
        <tr>
          <th>NOMBRE</th>
          <th>AÑO DE NACIMIENTO</th>
          <th>GÉNERO</th>
          <th>OPCIONES</th>
        </tr>
        <tr ng-repeat="pilot in pilots | filter:buscar">
          <td>{{pilot.name}}</td>
          <td>{{pilot.birth_year}}</td>
          <td>{{pilot.gender}}</td>
          <td><button type="button" class="btn btn-outline-danger" ng-click="deletePilot(pilot)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>